body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
    color: black;
    margin-top: 150px;
}

main {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    padding: 15px 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    align-items: center;
    gap: 21%;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav a img {
    width: 40px;
    height: 40px;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
}

img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.window_product {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border: 5px solid red;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 15px 0;
    background: #f2f2f2;    
}

@media screen and (min-width: 580px) {
    .menu {
        display: block;
    }

}

@media screen and (min-width: 770px) {
    .contenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 990px) {
    .contenu {
        grid-template-columns: 1fr 1fr 1fr;
    }

}