body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
    color: black;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

main {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
}

/* provisoire */
img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.window_product {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border: 5px solid red;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
}

@media screen and (min-width: 580px) {
    .menu {
        display: block;
    }
}

@media screen and (min-width: 770px) {
    .contenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 990px) {
    .contenu {
        grid-template-columns: 1fr 1fr 1fr;
    }
}